body {
    background-image: url("../../assets/images/dust_scratches.jpeg");
}

/* HEADER STYLES */

header {
    background-color: white;
}

#bootstrap-override .navbar {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #4aaaa5;
    color: white;
    padding: 6px;
    margin: 0;
}

/* NAVIGATION LINKS STYLES */

#bootstrap-override li { /* I DO NOT THINK THIS DOES ANYTHING WHILE USING BOOSTRAP */
    display: inline;
}

#bootstrap-override li a {
    text-decoration: none;
    color: #777777;
    word-spacing: 1px;
}

#bootstrap-override a:hover {
    color: black;
    font-weight: bolder;
}

/* MAIN CONTENT STYLES */

#bootstrap-override .main-content {
    margin-top: 30px;
    margin-bottom: 50px;
}

#bootstrap-override .img-content {
    position: relative;
    padding: 0px 0px 10px 0px;
}

#bootstrap-override img {
    width: 100%;
    height: auto;
}

#bootstrap-override h3 {
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    z-index: 3;
}

.hangman {
    width: 100%;
    top: 80%;
}

.rpg {
    width: 100%;
    top: 80%;
}

.trivia {
    width: 100%;
    top: 80%;
}

.rutgers {
    width: 100%;
    top: 80%;
    font-size: 26px;
}

.rps {
    width: 100%;
    top: 80%;
}



/* FOOTER STYLES */

#bootstrap-override .fixed-bottom {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#bootstrap-override .text-center {
    color: white;
    font-size: 14px;
    padding-top: 6px;

}