
body {
    background-image: url("../../assets/images/dust_scratches.jpeg");
}

/* HEADING STYLE */

header {
    background-color: white;
}

#bootstrap-override .navbar {
    margin: 0;
    padding: 0;
}

.heading-title {
    background-color: #4aaaa5;
    color: white;
    padding: 6px;
    margin: 0;
}

/* MAIN CONTAINER OVERRIDE STYLE */

#bootstrap-override .jumbotron {
    margin-top: 40px;
    padding: 0;
    background-color: white;
}
 h3 {
    color: #4aaaa5;
    padding-top: 10px;
}

#bootstrap-override .display-4 {
    font-size: 24px;
    font-weight: bold;
}

/* NAVIGATION STYLING AND BS OVERRIDES */

 #bootstrap-override li { /* I DO NOT THINK THIS DOES ANYTHING WHILE USING BOOSTRAP */
    display: inline;
}

#bootstrap-override li a {
    text-decoration: none;
    color: #777777;
    word-spacing: 4px;
}

#bootstrap-override a:hover {
    color: black;
    font-weight: bolder;
}

/* IMAGE AND CONTENT STYLING */

#bootstrap-override img {
    margin-right: 15px;
}

/* FOOTER STYLES */

#bootstrap-override .fixed-bottom {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#bootstrap-override .text-center {
    color: white;
    font-size: 14px;
    padding-top: 6px;

}